#parse("/velocity/include/header.vm")
<div class="aboutContainer">
    <div class="aboutMain clearfix">
        #parse("/velocity/include/leftNav.vm")
        <div class="contentBox fl">
            <h4>公司文化</h4>
            <span class="titDesline"></span>
            <div class="clearfix">
                <p class="culCon fl culP">公司使命:</p><p class="culCon fl">以科技创新发展普惠金融；</p>
            </div>
            <div class="clearfix">
                <p class="culCon fl culP">公司愿景:</p><p class="culCon fl h56">立足新疆，东联西拓，让每一个人都能以合适的价格有尊严地享受到及时、方便、优质的金融服务；</p>
            </div>
            <div class="clearfix">
                <p class="culCon fl culP">公司价值观:</p><p class="culCon fl">诚信、专业、合作、创新；</p>
            </div>
            <div class="culImgContainer clearfix pdb30">
                <img src="/img/culImg_01.png" alt="诚信">
                <img src="/img/culImg_02.png" alt="团队">
                <img src="/img/culImg_03.png" alt="专业">
            </div>
        </div>
    </div>
</div>
<!--footer-->
#parse("/velocity/include/footer.vm")
#parse("/velocity/include/footer_js.vm")
<script type="text/javascript" src="js/about/about.js"></script>
</body>
</html>