<!DOCTYPE html>
<html>
<head>
    <title></title>
	#parse("/WEB-INF/velocity/include/baseInclude.vm")
</head>
<body class="easyui-layout" data-options="fit:true">
    <div data-options="region:'north',border:false" id="searchPane" style="height:100px;background-color:#f5f5f5;overflow:hidden;">
		<form id="searchForm">
            <input type="hidden" id="mpCode" value="$mpCode" name="mpCode"/>
    		<ul class="tb">
    			<li>
                    <div>
                        <strong>办理点名称：</strong>
                        <input id="mp_name" name="mp_name"  class="easyui-validatebox" type="text" style="width:130px"/>
                    </div>
					<div>
						<strong>姓名：</strong>
						<input id="name" name="name"  class="easyui-validatebox" type="text" style="width:130px"/>
					</div>
					<div>
						<strong>会员账户：</strong>
						<input id="user_name" name="user_name"  class="easyui-validatebox" type="text" style="width:130px"/>
					</div>
				</li>
				<li>
                    <div>
                        <strong>状态：</strong>
                        <select data-options="editable:false" class="easyui-combobox" name="status" style="width: 150px">
                            <option value="">--请选择--</option>
							#foreach ($!s in $!data.statusList)
                                <option value="$!s.code">$!s.name</option>
							#end
                        </select>
                    </div>
					<div  style="float: right;">
    					<a id="searchBtn" href="javascript:;" class="easyui-linkbutton" data-options="iconCls:'icon-search',plain:true">
    						查询
    					</a>
						<a id="clearBtn" href="javascript:;" class="easyui-linkbutton" data-options="iconCls:'icon-delete',plain:true">
    						清除
    					</a>
    				</div>
    			</li>
    		</ul>
    	</form>
	</div>
	
    <div data-options="region:'center',border:false" style="overflow:hidden;">
		<table id="phjfManagepointOptinfo_grid"></table>
##		<div id="right_menu" class="easyui-menu" style="width: 120px;">
##	    	<div iconCls="icon-add" id="addItem">添加</div>
##			<div iconCls="icon-edit" id="updateItem">修改</div>
##	    	<div iconCls="icon-remove" id="mutiDelete">批量删除</div>
##	    	<div iconCls="icon-remove" id="singleDelete">删除</div>
##	    	<div iconCls="icon-look" id="viewItem">查看</div>
##    	</div>
	</div>
</body>
<script type="text/javascript" src="${path}/js/admin/managepoint/managepointOptInfo/mpOptinfoQuery.js"></script>
</html>
